@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #161616;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item {
    height: 500px;
    display: flex;
}

.pic img {
    height: 500px;
    width: 500px;
}

.tags {
    display: flex;
    width: 40%;
    margin-bottom: 35px;

}

.tags .tagt {
    margin: 5px;
    background-color: rgb(43, 173, 43);
    border-radius: 25px;
    height: 30px;
    width: 100px;
    padding: 5px;
    border: solid rgb(41, 41, 41) 1px;
}

.details {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 500px;
    width: 600px;
    padding: 40px;
    padding-top: 20px;
    color: white;
}

.stars {
    height: 19px;
    background: rgb(71, 201, 15);
    background: linear-gradient(90deg, rgba(71, 201, 15, 1) 0%, rgba(73, 201, 18, 1) 10%, rgba(247, 247, 247, 1) 42%);
    width: 60%;
    margin-bottom: 15px;
    border-radius: 25px;
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
}

.details button {
    width: 30%;
    height: 50px;
    background-color: #161616;
    border: solid #ffd401 3px;
    margin-top: 40px;
    color: #ffd401;

}

.details p {
    margin-bottom: 15px;
    margin-top: 30px;
}

.stars::before {
    content: "Hard";
    position: relative;
    top: 20px;
    left: 155px;
}

.stars::after {
    content: "Easy";
    position: relative;
    top: -20px;
    left: -155px;
}

@media only screen and (max-width: 1024px) {
    .item {
        transform: scale(0.7);
    }
}

h1 {
    color: white;
    font-size: 72px;
}

.item {
    margin: 150px;
}

#c2s {
    background: rgb(71, 201, 15);
    background: linear-gradient(90deg, rgba(71, 201, 15, 1) 0%, rgba(200, 201, 18, 1) 32%, rgba(247, 247, 247, 1) 61%);
}

#c3s {
    background: rgb(71, 201, 15);
    background: linear-gradient(90deg, rgba(71, 201, 15, 1) 0%, rgba(201, 168, 18, 1) 23%, rgba(204, 34, 34, 1) 55%, rgba(244, 153, 153, 1) 87%, rgba(247, 247, 247, 1) 100%);
}

.quizz{
    border: solid white 3px;
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    margin: 40px;

}

.quizz:hover{
    cursor: pointer;
    border: solid black 4px;
    transform: scale(1.2);
    transition-duration: .4s;
    transition-timing-function: cubic-bezier();
}

button:hover{
    cursor: pointer;
}

.pay{
    background-color: white;
    width: 700px;
    height: 500px;
    border: solid black 2px;
    z-index: 10;
    position: fixed;
    left: 625px;
    display: none;
    padding: 15px;
}

.close img{
    width: 20px;
    height: 20px;
    position: relative;
    left: -320px;
    top: 5px;
}

#smart-button-container{
    margin-top: 150px;
}