.panel-group{
    width: 500px;
    text-align: center;


}
.panel-group{
    text-align: left;
}

body{
    background-color: #161616;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2338201c' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.headingtext{
    font-weight: bolder;
    color: rgb(255, 255, 255);
}

.coltext{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
}

